<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Buscar</h1>
    </ion-header-bar>
    <ion-content>
        <form>
            <label class="item item-input">
                <input type="text" placeholder="Buscar ..." style="border: solid 1px #bbbbbe;" ng-model="busca.texto">
            </label>
        </form>
        <label class="item">
            <button class="button button-positive" style="width: 100%" ng-click="doBuscar()" >Buscar</button>
        </label>
        <label class="item">
            <button class="button button-assertive" style="width: 100%" ng-click="fecharCarrinho()">Fechar</button>
        </label>
    </ion-content> 
</ion-modal-view>