<ion-view view-title="{{navTitle}}">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()"></button>
    </ion-nav-buttons>
    <ion-content delegate-handle="agendaScrollDelegate">
        <div class="list">
            <div class="item item-divider" ion-affix><a class='linkNormal' href='#' ng-click="atualizarLista()" ><i class="icon ion-refresh"></i> Atualizar</a> <span style='float: right;' class='title-right'><i class="icon ion-clock"></i> Atualizado às: {{atualizado}}</span></div>
        </div>
        <img src="img/loading.gif" style="width: 100%;" class="carregado"  ng-show="carregado">
        <!-- button class="button" ng-click="add()">Add notification</button>
        <button class="button" ng-click="isScheduled()">Is Scheduled</button -->
        <ion-list>
            <ion-item ng-repeat="(data, lista) in listaNode" >        
                <div class="list">
                    <div class="item item-divider" ion-affix><i class="icon ion-calendar"></i> {{data}}</div>
                    <ion-list>
                        <ion-item ng-repeat="noticia in lista" >
                            <div class="item item-thumbnail-left item-text-wrap">
                                <img src="{{noticia.img}}" style='width: 35%; height: 100%' ng-click="openExternalTeste(noticia.link);" >
                                <a class='linkNormal' href='{{noticia.link}}' onclick="window.open(this.href, '_system', 'location=yes'); return false;" >
                                    <p><b>{{noticia.hora}}</b></p> 
                                </a>
                                <a class='linkNormal' href='{{noticia.link}}' onclick="window.open(this.href, '_system', 'location=yes'); return false;" >
                                    <h2 style='font-size: 13px;'>{{noticia.titulo}}</h2>
                                    <i style="float:right; margin-top: -24%; margin-right: -10px; color: black" class="ion-chevron-right"></i>
                                </a>
                            </div>				  
                        </ion-item>
                    </ion-list>
                </div>
            </ion-item>
        </ion-list>
        <div class="list">
            <div class="item item-divider" ion-affix>
                <a class='linkNormal'  onclick="window.open('http://www.curapelanatureza.com.br', '_system', 'location=yes'); return false;"> Veja Mais <i style="float:right; color: black" class="ion-chevron-right"></i></a>
            </div>
        </div>
    </ion-content>
</ion-view>