
<ion-tabs class="tabs-icon tabs-background-positive tabs-color-light">

  <!-- ultimas do blog -->
  <ion-tab title="Agenda" icon-off="ion-android-list" icon-on="ion-android-list" href="#/tab/agenda">
    <ion-nav-view name="tab-agenda"></ion-nav-view>
  </ion-tab>
  
  <!-- Youtube -->
  <ion-tab title="Favoritos" icon-off="ion-social-youtube" icon-on="ion-social-youtube" href="#/tab/favoritos">
    <ion-nav-view name="tab-favoritos"></ion-nav-view>
  </ion-tab>


  <!-- sessões -->
  <ion-tab title="Fotos" icon-off="ion-android-bookmark" icon-on="ion-android-bookmark" href="#/tab/fotos">
    <ion-nav-view name="tab-fotos"></ion-nav-view>
  </ion-tab>
  
  <!-- Ajustes Tab -->
  <ion-tab title="Ajustes" icon-off="ion-gear-a" icon-on="ion-gear-a" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
